<h1 class="text-3xl font-bold mb-6">Add a Book</h1>

<% if @stripe_connected %>
  <turbo-frame id="scan_step" data-turbo-action="advance">
    <%= yield %>
  </turbo-frame>
<% else %>
  <%= render "books/scan/stripe_required" %>
<% end %>
