<div class="flex flex-row gap-2">
  <%= link_to new_book_path do %>
    <button class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4  rounded-md transition-colors duration-200 cursor-pointer mb-6">
      List A Book
    </button>
  <% end %>
  <%= link_to users_path do %>
    <button class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md transition-colors duration-200 cursor-pointer mb-6">
      Browse Libraries
    </button>
  <% end %>
  <%= link_to "/stripe/account" do %>
    <button class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md transition-colors duration-200 cursor-pointer mb-6">
      Create A Stripe Account to Start Selling Books
    </button>
  <% end %>
</div>

<h1 class="text-2xl mb-2">New Listings</h1>
<% @books.each do |book| %>
  <%= render partial: "preview", locals: { book: book } %>
<% end %>