<%= render partial: "preview", locals: { book: @book } %>

<%= link_to new_purchase_path do %>
  <button class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md transition-colors duration-200 cursor-pointer mb-6">Buy
    This Book
  </button>
<% end %>